@tailwind base;
@tailwind components;
@tailwind utilities;



.head-title,.dept-title{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.cyber-title{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: clamp(2rem, 8vw, 5rem) !important;
  letter-spacing: 0.05em;
}

.time-title{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 1000px #1a0b2e inset;
  -webkit-text-fill-color: white;
}
.page-title{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}